<h1> Movies </h1>
<%= link_to 'New Movie', new_movie_path %>
<table>
  <tr>
    <th> Title </th>
    <th> Director </th>
    <th> Year </th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.director %></td>
      <td><%= movie.year %></td>
      <td><%= link_to 'edit', edit_movie_path(movie) %></td>
      <td><%= link_to 'show', movie_path(movie) %></td>
      <td><%= link_to 'destroy', movie_path(movie),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
