<p>
  <strong> Title: </strong>
  <%= @movie.title %>
</p>

<p>
  <strong> Director: </strong>
  <%= @movie.director %>
</p>

<p>
  <strong> Year: </strong>
  <%= @movie.year %>
</p>
<h2>Add a rating:</h2>
<%= form_for([@movie, @movie.ratings.build]) do |f| %>
<p>
  <%= f.label :stars %><br>
  <%= f.text_field :stars %>
</p>

<p>
  <%= f.label :message %><br>
  <%= f.text_area :message %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
<%= link_to 'Back', movies_path %>
