<p>
  <strong> Title: </strong>
  <%= @movie.title %>
</p>

<p>
  <strong> Director: </strong>
  <%= @movie.director %>
</p>

<p>
  <strong> Year: </strong>
  <%= @movie.year %>
</p>
<%= link_to 'Back', movies_path %>
