<h1> Edit Movie </h1>
<%= form_for :movie, url: movie_path, method: :patch do |f| %>
<% if @movie.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@movie.errors.count, "error") %> prohibited
      this movie from being saved:
    </h2>
    <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', movies_path %>
