<%= form_for :rating, url:  ratings_path do |f| %>
<% if @rating.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@rating.errors.count, "error") %> prohibited
      this movie from being saved:
    </h2>
    <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <p>
    <%= f.label :stars %><br>
    <%= f.text_field :stars %>
  </p>

  <p>
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', ratings_path %>
